{% extends 'base.html' %}

{% block app_content %}
  <style media="screen">
    h5 {
      text-decoration: underline;
    }
    h5:hover {
      color: blue;
    }
  </style>
  <h1>Hello, {{ current_user.username }} </h1>
  <br>
  <div class="col-md-3">
    <div class="thumbnail text-center">
      <img src="{{ current_user.avatar_img }}" alt="avatar" width="200px">
      <div class="caption">
        <h3>{{ current_user.username }}</h3>
        <p>
          <a href="#" class="btn btn-primary" role="button">{{ n_followers }} followers</a>
          <a href="#" class="btn btn-default" role="button">{{ n_followed }} followed</a>
        </p>
      </div>
    </div>
  </div>


  <div class="container">
     <h3>Your Favorite Articles: </h3>
    {% for news_id, title, description, url, urlToImage in likedHistory %}
      <h5 onclick="window.location.href='{{ url_for( 'news_detail_page' , key = news_id ) }}';">{{title}}</h5>
      <h6>{{description}}</h6>
      {% endfor %}
  </div>

  <h2>Posts History</h2>
  {% for post in posts.items %}
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{ post.author.avatar_img }}" alt="avatar" width="64px">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ post.author.username }}</h4>
        <small class="text=muted">{{ post.timestamp }}</small>
        <p>{{ post.body }}</p>
      </div>
    </div>
  {% endfor %}

    <nav aria-label="Page navigation">
      <center>
        <ul class="pagination">
          {% if posts.has_prev %}
            <li>
              <a href="{{ url_for('user_account_page', page=posts.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
            </li>
          {% endif %}

          {% for i in range(posts.pages) %}
          <li><a href="#">{{ i+1 }}</a></li>
          {% endfor %}

          {% if posts.has_next %}
            <li>
              <a href="{{ url_for('user_account_page', page=posts.next_num) }}" aria-label="Next">
                <span aria-hidden="true">&raquo; Next</span>
              </a>
           </li>
          {% endif %}
       </ul>
      </center>
  </nav>

{% endblock %}
